.container {
    width: 80%;
    margin: auto;
}

.dataContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
    margin-bottom: 10px;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
